//- TECH SKILLLS 
include techSkills

//- PAST WORK EXPERIENCE
include workExp

//- EDUCATION
include education

//- GITHUB PROJECTS
include githubProjects


//- YOUTUBE VIDEOS  
	include youtubeTuts

//- FOOTER ADS
include ADVERTS