//- var repos = [
//- 	androidApp_javascript
//- 	browser_OS
//- 	chromeApp
//- 	Dev_Team_Notes
//- 	Learning_JAVA_Lang
//- 	MochaTestingFramework
//- 	node_APIserver
//- 	Portfolio_Resume_App
//- ];

.partialView_Wrapper.githubProfile_wrapper
	.parialView_PageTitle.
		<i class='fa fa-github pageTitleIcon'></i>  
		&nbsp;
		<span class='hideOnMobile'>Public GitHub</span>Projects
		&nbsp;
		<i class='fa fa-github pageTitleIcon'></i>  

	/// EDUCATION DURATION / Location
	.container
		.container.educationItem_ROW
			.col-xs-12
				a(href='https://github.com/adeptPro?tab=repositories', target="_blank").
					Fork Me @ GitHub.com/AdeptPro
			.col-xs-12
				.container
					.col-xs-2.col-xs-offset2
						i.fa.fa-github.gitHub_MainIcon

					.col-xs-8
						.Italics.githubWelcomeMSG.
							Please have a look at my public, software repositories.<br/> 
							The sourcecode for this Resume/Portfolio application can be found by <a href='https://github.com/adeptPro/Portfolio_Resume_App' target='_blank'>CLICKING HERE</a>
							<hr/>
			.col-sm-9
				.container
					//-Github Account
					.container

						.col-xs-5
							.gitHubTable_key.
								Github Account
						.col-xs-7
							.gitHub_Account_info_account.gitHubTable_value.
						//-Account Owner
					.container

						.col-xs-5
							.gitHubTable_key.
								Account Owner
						.col-xs-7
							.gitHubTable_value.
								Brent Linhardt

					//-Contact Email
					.container

						.col-xs-5
							.gitHubTable_key.
								Contact Email
						.col-xs-7
							.githubContactEmail.gitHubTable_value.
								AdeptPro33@gmail.com

					//-Current Company
					.container

						.col-xs-5
							.gitHubTable_key.
								Company
						.col-xs-7
							.gitHub_Account_info_company.gitHubTable_value.

					//-URL
					.container
						.col-xs-5
							.gitHubTable_key.
								URL
						.col-xs-7
							.gitHub_Account_info_url.gitHubTable_value
								a(href='https://github.com/adeptPro?tab=repositories', target="_blank").
									github.com/adeptPro

					//-Repository Count
					.container

						.col-xs-5
							.gitHubTable_key.
								Repositories
						.col-xs-7
							.gitHub_Account_info_pubRepoCount.gitHubTable_value
								a(href='https://github.com/adeptPro?tab=repositories', target="_blank").
									github.com/adeptPro
					//-Followers Count
					.container

						.col-xs-5
							.gitHubTable_key.
								Followers
						.col-xs-7
							.gitHub_Account_info_followers.gitHubTable_value
								a(href='https://github.com/adeptPro?tab=repositories', target="_blank").
									github.com/adeptPro

			.col-sm-3
				.github_Avatar_wrapper
					img(src='').githubProfileImg
