.partialView_Wrapper
	.parialView_PageTitle.
		<i class='fa fa-youtube-square'></i>  
		Teaching <span class='hideOnMobile'>Computer Science</span>
		<i class='fa fa-youtube-square'></i>  
		
	.container		
		.container.educationItem_ROW
			.col-xs-12
				.Italics.
					“For Every Child We Teach To Cherish Learning, A Universe Is Born.”  ~D. Simone
				.youtube_Channel_desc.
					<hr/>Below are a few videos, I have created to teach javascript, to anyone wishing to learn.<hr/>
			
			.col-xs-12.col-sm-12.col-md-12
					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/MJ7EC63ch0E", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							Compile NodeJS from Source
					
					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/atV3TnXuqgI", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							02 Javascript Strings

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/I7PpbPE-ZVo", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							03 Javascript Number Variables

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/hzhOzqYgPrk", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							04 Javascript Conditionals

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/QMbMhwVSq3s", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							05 Javascript Functions

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/ajIjKKzT9I4", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							06 Javascript Objects

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/fz7HqugV-kA", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							07 Javascript Loops

					.col-xs-12.col-sm-6
						.youtubeVideo_iframe_wrapper
							iframe(width="100%",src="https://www.youtube.com/embed/54CGGHWOyIs", frameborder="0" allowfullscreen)
						.youtubeVideo_video_title.
							08 Javascript Arrays

