// bootstrap Modal
/// My Image Popup Modal 
#largeImage(tabindex="-1",role='dialog').modal.fade
	.modal-dialog
		.modal-content
			.modal-header.
				Hire Brent Linhardt
			.modal-body
				#modalLRG_imageContainer
					img(src='img/MU/lrg/MU1.jpg').img-responsive

/// Dev Skills Modal - for clicking on DevSkill..
#DevSkills_Modal(tabindex="-1",role='dialog').modal.fade
	.modal-dialog
		.modal-content
			.modal-header.
				Hire Brent Linhardt
			.modal-body
				#modalDevSkills_imageContainer
					img(src='img/SkillsIMG/python.png').img-responsive
			.modal-footer
				#modalDevSkillFooterWrapper.
					Hello World
