#lucentFooter
	.footerwrapper
		.container
			.col-sm-6
				a(href='mailto:adeptPro33@gmail.com?Subject=From%20Adept%20Pro%20Web%20App',target='_top').
					HIRE ME!   
				
			.col-sm-6
				a(href='mailto:adeptPro33@gmail.com?Subject=From%20Adept%20Pro%20Web%20App',target='_top').
					© Brent Linhardt 2015 
				 
				