.ResumeNavigation
	.naviWrapper
		//View All
		.col-md-1.naviAjaxItem
			a(href='/everything', title='View All Pages', data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-eye

		// Tech Skills
		.col-md-1.naviAjaxItem
			a(href='/techSkills', title="Technical Skills", data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-bolt
						
		// Work Experience
		.col-md-1.naviAjaxItem
			a(href='/workExp', title='Software Industry Experience', data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-group

		//  Education
		.col-md-1.naviAjaxItem
			a(href='/education', title="Computer Science Education", data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-graduation-cap

		// Public Repos on GITHUB 
		.col-md-1.naviAjaxItem
			a(href='/github', title='Public Repositories', data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-github

		// Online Tutorials View..
		.col-md-1.naviAjaxItem
			a(href='/tutorials', title='Teaching', data-toggle="tooltip", data-placement="bottom")
				.resumeNaviItem.btn.btn-sm
					i.fa.fa-youtube-square

